# Data Preparation. Практическая работа

## Цели практической работы
1. Потренироваться определять типы переменных в датасете, целевую переменную из постановки задачи, распределение переменных.
2. Познакомиться с задачей, предстоящей на этапе моделирования.
3. Начать исследовать данные для этапа моделирования.

## Что входит в практическую работу
1. Загрузить датасет и ознакомиться с ним.
2. Исследовать переменные датасета.
3. Определить типы переменных в датасете.
4. Определить целевую переменную в данных и распределение переменных.

## Что оценивается
- Программа выдаёт верный ответ на заданном наборе данных.
- Описаны причины выбранного решения, если требуется.
- Код читабелен: переменным даны осмысленные названия, отступы и правила расстановки пробелов соблюдены.
- Репозиторий проекта содержит осмысленные коммиты, содержащие конкретные реализованные фичи, ветки названы согласно назначению, лишние файлы не хранятся в репозитории.
- В репозитории проекта соблюдена иерархия директорий согласно списку модулей и содержащихся в них уроках.
- Репозиторий проекта содержит файлы с данными, полученными в результате выполнения практической работы.

## Как отправить работу на проверку
Сдайте практическую работу этого модуля через систему контроля версий Git сервиса Skillbox GitLab. После загрузки работы на проверку напишите об этом в личном кабинете своему проверяющему преподавателю.

## Задача

Начиная с этого урока вы начнёте исследовать и готовить данные для этапа моделирования.

Вам предстоит работать с небольшой выборкой из коллекции подержанных автомобилей, выставленных на продажу в Соединённых Штатах, представленной в файле `data/vehicles_dataset.csv`. На этих данных вы построите первую модель классификации, определяющую категорию цены подержанного автомобиля в зависимости от характеристик транспортного средства.
В этой практической работе вы загрузите датасет и начнёте его исследование.


## Описание датасета:
- `id`: идентификатор записи;
- `url`: URL записи о продаже;
- `region`: регион;
- `region_url`: URL региона;
- `price`: стоимость;
- `year`: год выпуска;
- `manufacturer`: производитель;
- `model`: модель;
- `condition`: состояние;
- `cylinders`: количество цилиндров;
- `fuel`: тип топлива;
- `odometer`: количество пройденных миль;
- `title_status`: статус;
- `transmission`: коробка передач;
- `VIN`: идентификационный номер;
- `drive`: тип привода;
- `size`: размер;
- `type`: кузов;
- `paint_color`: цвет;
- `image_url`: URL изображения;
- `description`: указанное описание;
- `county`: страна;
- `state`: штат;
- `lat`: широта;
- `long`: долгота;
- `posting_date`: дата размещения объявления о продаже;
- `price_category`: категория цены.

In [ ]:
# Импортируйте необходимые библиотеки

### Задача 1. Загрузка датасета и ознакомление с ним
**Что нужно сделать**

Для начала требуется загрузить датасет и ознакомиться с его характеристиками.

1. Загрузите датасет из `data/vehicles_dataset.csv` и выведите его.

In [5]:
# Ваш код здесь
import pandas as pd
df = pd.read_csv(r'C:\Users\user\vehicles_dataset.csv')
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,type,paint_color,image_url,description,county,state,lat,long,posting_date,price_category
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020.0,ram,2500 crew cab big horn,good,NaN,...,pickup,silver,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,NaN,tn,35.060000,-85.250000,2021-04-17T12:30:50-0400,high
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016.0,ford,explorer 4wd 4dr xlt,NaN,6 cylinders,...,SUV,black,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,NaN,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017.0,volkswagen,golf r hatchback,good,NaN,...,sedan,NaN,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,NaN,ca,33.779214,-84.411811,2021-04-28T03:52:20-0700,high
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013.0,toyota,rav4,NaN,NaN,...,wagon,white,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,NaN,nc,35.715954,-78.655304,2021-04-17T10:08:57-0400,medium
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021.0,nissan,altima,new,4 cylinders,...,NaN,NaN,https://images.craigslist.org/00V0V_3pSOiPZ3Sd...,2021 Nissan Altima Sv with Only 8 K Miles Titl...,NaN,ny,40.654800,-73.609700,2021-05-03T18:32:06-0400,medium

2. Выведите размер датасета.

In [6]:
# Ваш код здесь
df.shape

(10050, 27)

3. Выведите список колонок датасета.

In [21]:
# Ваш код здесь
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date', 'price_category'],
      dtype='object')

4. Выведите описательные статистики для всего датасета (обязательно укажите верный параметр для этого).

In [10]:
# Ваш код здесь
df.describe()

,id,price,year,odometer,county,lat,long
count,1.005000e+04,1.005000e+04,10014.000000,1.000700e+04,0.0,9951.000000,9951.000000
mean,7.311544e+09,2.068429e+04,2010.917815,9.565719e+04,NaN,38.590164,-94.161564
std,4.475414e+06,1.243216e+05,9.697849,8.657948e+04,NaN,5.844756,18.123096
min,7.208550e+09,5.000000e+02,1915.000000,0.000000e+00,NaN,-67.144243,-158.069300
25%,7.308193e+09,7.900000e+03,2008.000000,3.899450e+04,NaN,34.830000,-110.447150
50%,7.312756e+09,1.574950e+04,2013.000000,8.837700e+04,NaN,39.285100,-87.999100
75%,7.315275e+09,2.799000e+04,2017.000000,1.370000e+05,NaN,42.427590,-80.830000
max,7.317090e+09,1.234568e+07,2022.000000,3.245000e+06,NaN,64.947500,173.885502

### Задача 2. Исследование переменных датасета
**Что нужно сделать**

После ознакомления с датасетом посмотрите, какие значения принимают переменные с характеристиками.

Распечатайте в цикле по каждой колонке название колонки, количество уникальных значений, а затем список возможных значений вместе с их количеством появления в датасете.

При выводе информации по каждой характеристике придерживайтесь шаблона.

```
Характеристика: id
Количество уникальных значений: 10000
Список значений:
7303629857    2
7315995136    2
7316719393    2
7309842734    2
7307971804    2
             ..
7303843163    1
7315223900    1
7309940769    1
7309251820    1
7316428067    1
Name: id, Length: 10000, dtype: int64
```

In [29]:
dfcolumns = df.columns
print(dfcolumns)

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date', 'price_category'],
      dtype='object')

In [50]:
# Ваш код здесь

for i in range(len(dfcolumns)):
               print('Характеристика: ', df.columns[i])
               print('Количество уникальных значений :', df[df.columns[i]].nunique())
               print('Список значений :')
               print(df.columns[i], df[df.columns[i]].unique)

Характеристика:  id
Количество уникальных значений : 10000
Список значений :
id <bound method Series.unique of 0        7308295377
1        7316380095
2        7313733749
3        7308210929
4        7316474668
            ...
10045    7304876387
10046    7316152972
10047    7310993818
10048    7306637427
10049    7311960763
Name: id, Length: 10050, dtype: int64>
Характеристика:  url
Количество уникальных значений : 10000
Список значений :
url <bound method Series.unique of 0        https://chattanooga.craigslist.org/ctd/d/chatt...
1        https://newjersey.craigslist.org/ctd/d/carlsta...
2        https://reno.craigslist.org/ctd/d/atlanta-2017...
3        https://fayetteville.craigslist.org/ctd/d/rale...
4        https://newyork.craigslist.org/lgi/cto/d/baldw...
                               ...
10045    https://chautauqua.craigslist.org/ctd/d/falcon...
10046    https://binghamton.craigslist.org/ctd/d/roches...
10047    https://salem.craigslist.org/ctd/d/salem-2011-...
10048    https://madison.craigslist.org/ctd/d/madison-2...
10049    https://norfolk.craigslist.org/ctd/d/chesapeak...
Name: url, Length: 10050, dtype: object>
Характеристика:  region
Количество уникальных значений : 393
Список значений :
region <bound method Series.unique of 0                    chattanooga
1                   north jersey
2                   reno / tahoe
3                   fayetteville
4                  new york city
                  ...
10045                 chautauqua
10046                 binghamton
10047                      salem
10048                    madison
10049    norfolk / hampton roads
Name: region, Length: 10050, dtype: object>
Характеристика:  region_url
Количество уникальных значений : 405
Список значений :
region_url <bound method Series.unique of 0         https://chattanooga.craigslist.org
1           https://newjersey.craigslist.org
2                https://reno.craigslist.org
3        https://fayetteville.craigslist.org
4             https://newyork.craigslist.org
                        ...
10045      https://chautauqua.craigslist.org
10046      https://binghamton.craigslist.org
10047           https://salem.craigslist.org
10048         https://madison.craigslist.org
10049         https://norfolk.craigslist.org
Name: region_url, Length: 10050, dtype: object>
Характеристика:  price
Количество уникальных значений : 2227
Список значений :
price <bound method Series.unique of 0        54990
1        16942
2        35590
3        14500
4        21800
         ...
10045     4495
10046    14495
10047     8995
10048    31900
10049    31990
Name: price, Length: 10050, dtype: int64>
Характеристика:  year
Количество уникальных значений : 89
Список значений :
year <bound method Series.unique of 0        2020.0
1        2016.0
2        2017.0
3        2013.0
4        2021.0
          ...
10045    2002.0
10046    2008.0
10047    2011.0
10048    2015.0
10049    2017.0
Name: year, Length: 10050, dtype: float64>
Характеристика:  manufacturer
Количество уникальных значений : 39
Список значений :
manufacturer <bound method Series.unique of 0               ram
1              ford
2        volkswagen
3            toyota
4            nissan
            ...
10045        toyota
10046          jeep
10047          audi
10048       porsche
10049           ram
Name: manufacturer, Length: 10050, dtype: object>
Характеристика:  model
Количество уникальных значений : 3466
Список значений :
model <bound method Series.unique of 0           2500 crew cab big horn
1             explorer 4wd 4dr xlt
2                 golf r hatchback
3                             rav4
4                           altima
                   ...
10045                         rav4
10046                     wrangler
10047    a3 2.0t premium plus pzev
10048                      cayenne
10049       1500 crew cab big horn
Name: model, Length: 10050, dtype: object>
Характеристика:  condition
Количество уникальных значений : 6
Список значений :
condition <bound method Series.unique of 0        good
1         NaN
2        good
3         NaN
4         new
         ...
10045    good
10046    good
10047     NaN
10048    good
10049    good
Name: condition, Length: 10050, dtype: object>
Характеристика:  cylinders
Количество уникальных значений : 8
Список значений :
cylinders <bound method Series.unique of 0                NaN
1        6 cylinders
2                NaN
3                NaN
4        4 cylinders
            ...
10045    4 cylinders
10046    6 cylinders
10047    4 cylinders
10048    6 cylinders
10049    8 cylinders
Name: cylinders, Length: 10050, dtype: object>
Характеристика:  fuel
Количество уникальных значений : 5
Список значений :
fuel <bound method Series.unique of 0        diesel
1           NaN
2           gas
3           gas
4           gas
          ...
10045       gas
10046       gas
10047       gas
10048    hybrid
10049       gas
Name: fuel, Length: 10050, dtype: object>
Характеристика:  odometer
Количество уникальных значений : 7006
Список значений :
odometer <bound method Series.unique of 0         27442.0
1         60023.0
2         14048.0
3        117291.0
4          8000.0
           ...
10045    150000.0
10046    113573.0
10047    150184.0
10048     61943.0
10049     35921.0
Name: odometer, Length: 10050, dtype: float64>
Характеристика:  title_status
Количество уникальных значений : 6
Список значений :
title_status <bound method Series.unique of 0        clean
1        clean
2        clean
3        clean
4        clean
         ...
10045    clean
10046    clean
10047    clean
10048    clean
10049    clean
Name: title_status, Length: 10050, dtype: object>
Характеристика:  transmission
Количество уникальных значений : 3
Список значений :
transmission <bound method Series.unique of 0            other
1        automatic
2            other
3        automatic
4        automatic
           ...
10045    automatic
10046        other
10047    automatic
10048    automatic
10049        other
Name: transmission, Length: 10050, dtype: object>
Характеристика:  VIN
Количество уникальных значений : 5429
Список значений :
VIN <bound method Series.unique of 0        3C6UR5JL6LG159822
1        1FM5K8DH5GGA78852
2        WVWWF7AU5HW188462
3        2T3WFREV7DW055354
4        1N4BL4DV2MN312381
               ...
10045                  NaN
10046    1J4FA24198L514729
10047    WAUKEAFM8BA041237
10048    WP1AE2A28FLA50183
10049    3C6RR6LT6HG542059
Name: VIN, Length: 10050, dtype: object>
Характеристика:  drive
Количество уникальных значений : 3
Список значений :
drive <bound method Series.unique of 0        4wd
1        4wd
2        NaN
3        fwd
4        NaN
        ...
10045    4wd
10046    4wd
10047    fwd
10048    4wd
10049    NaN
Name: drive, Length: 10050, dtype: object>
Характеристика:  size
Количество уникальных значений : 4
Список значений :
size <bound method Series.unique of 0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
10045     mid-size
10046    full-size
10047          NaN
10048          NaN
10049          NaN
Name: size, Length: 10050, dtype: object>
Характеристика:  type
Количество уникальных значений : 13
Список значений :
type <bound method Series.unique of 0        pickup
1           SUV
2         sedan
3         wagon
4           NaN
          ...
10045       SUV
10046       SUV
10047     wagon
10048     wagon
10049    pickup
Name: type, Length: 10050, dtype: object>
Характеристика:  paint_color
Количество уникальных значений : 12
Список значений :
paint_color <bound method Series.unique of 0        silver
1         black
2           NaN
3         white
4           NaN
          ...
10045     white
10046      grey
10047     black
10048     brown
10049     white
Name: paint_color, Length: 10050, dtype: object>
Характеристика:  image_url
Количество уникальных значений : 9081
Список значений :
image_url <bound method Series.unique of 0        https://images.craigslist.org/00N0N_1xMPvfxRAI...
1        https://images.craigslist.org/00x0x_26jl9F0cnL...
2        https://images.craigslist.org/00y0y_eeZjWeiSfb...
3        https://images.craigslist.org/00606_iGe5iXidib...
4        https://images.craigslist.org/00V0V_3pSOiPZ3Sd...
                               ...
10045    https://images.craigslist.org/00n0n_aaEBqmzz5Z...
10046    https://images.craigslist.org/00000_9ZNVdXaiei...
10047    https://images.craigslist.org/00X0X_k5JiZDDyqM...
10048    https://images.craigslist.org/00O0O_gBihGEQxYT...
10049    https://images.craigslist.org/00c0c_4rTlvLXy36...
Name: image_url, Length: 10050, dtype: object>
Характеристика:  description
Количество уникальных значений : 9845
Список значений :
description <bound method Series.unique of 0        Carvana is the safer way to buy a car During t...
1        ***Call Us for more information at: 201-635-14...
2        Carvana is the safer way to buy a car During t...
3        2013 Toyota RAV4 XLE 4dr SUV     Offered by: R...
4        2021 Nissan Altima Sv with Only 8 K Miles Titl...
                               ...
10045    Transmission:Automatic Exterior Color:WHITE In...
10046    2008 Jeep Wrangler X  Offered by: R&L Auto -- ...
10047    2011 Audi A3 2.0T Premium Plus PZEV Wagon2011 ...
10048    2015 Porsche Cayenne AWD 4dr S E-Hybrid - $31,...
10049    Carvana is the safer way to buy a car During t...
Name: description, Length: 10050, dtype: object>
Характеристика:  county
Количество уникальных значений : 0
Список значений :
county <bound method Series.unique of 0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
10045   NaN
10046   NaN
10047   NaN
10048   NaN
10049   NaN
Name: county, Length: 10050, dtype: float64>
Характеристика:  state
Количество уникальных значений : 51
Список значений :
state <bound method Series.unique of 0        tn
1        nj
2        ca
3        nc
4        ny
         ..
10045    ny
10046    ny
10047    or
10048    wi
10049    va
Name: state, Length: 10050, dtype: object>
Характеристика:  lat
Количество уникальных значений : 5049
Список значений :
lat <bound method Series.unique of 0        35.060000
1        40.821805
2        33.779214
3        35.715954
4        40.654800
           ...
10045    42.123900
10046    43.216990
10047    44.925908
10048    43.029559
10049    36.670000
Name: lat, Length: 10050, dtype: float64>
Характеристика:  long
Количество уникальных значений : 5082
Список значений :
long <bound method Series.unique of 0        -85.250000
1        -74.061962
2        -84.411811
3        -78.655304
4        -73.609700
            ...
10045    -79.189500
10046    -77.755610
10047   -122.982753
10048    -89.397796
10049    -76.300000
Name: long, Length: 10050, dtype: float64>
Характеристика:  posting_date
Количество уникальных значений : 9957
Список значений :
posting_date <bound method Series.unique of 0        2021-04-17T12:30:50-0400
1        2021-05-03T15:40:21-0400
2        2021-04-28T03:52:20-0700
3        2021-04-17T10:08:57-0400
4        2021-05-03T18:32:06-0400
                   ...
10045    2021-04-10T16:33:57-0400
10046    2021-05-03T09:36:30-0400
10047    2021-04-22T12:14:01-0700
10048    2021-04-14T09:14:42-0500
10049    2021-04-24T13:50:49-0400
Name: posting_date, Length: 10050, dtype: object>
Характеристика:  price_category
Количество уникальных значений : 3
Список значений :
price_category <bound method Series.unique of 0          high
1        medium
2          high
3        medium
4        medium
          ...
10045       low
10046    medium
10047       low
10048      high
10049      high
Name: price_category, Length: 10050, dtype: object>

### Задача 3. Определение типов переменных в датасете
**Что нужно сделать**

После ознакомления с характеристиками заполните в таблице, к какому типу относятся некоторые переменные. Для этого на пересечении названия переменной и типа переменной проставьте «X».


|  Переменная    | Дискретная | Непрерывная | Качественная |
|----------------|------------|-------------|--------------|
| id             | X          |             |              |
| region         |            |             |       X      |
| year           |   X        |             |              |
| manufacturer   |            |             |        X     |
| condition      |            |             |       X      |
| fuel           |            |             |       x      |
| odometer       |            |    X        |              |
| title_status   |            |             |       X      |
| transmission   |            |             |       x      |
| VIN            |            |             |        X     |
| drive          |            |             |       X      |
| paint_color    |            |             |        X     |
| state          |            |             |        X     |
| price_category |            |             |     X        |

In [59]:
df.price_category

0          high
1        medium
2          high
3        medium
4        medium
          ...
10045       low
10046    medium
10047       low
10048      high
10049      high
Name: price_category, Length: 10050, dtype: object

### Задача 4. Определение целевой переменной в данных и распределения переменных
**Что нужно сделать**

1. Исходя из поставленной задачи определите, в какой колонке находится целевая переменная.



**Ответ:** _ваш ответ_

2. Выведите для каждого значения целевой переменной его долю вхождения в выборку.

In [63]:
# Ваш код здесь 
price
price_category

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date', 'price_category'],
      dtype='object')

3. Ещё раз посмотрите на долю или количество вхождений каждого значения целевой переменной в выборку и напишите, какое это распределение. Определить, как распределены значения целевой переменной, в данном случае можно и без графика. 

**Ответ:** _ваш ответ_

In [ ]:
Нормальное распределение